*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "SUIT";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Thin.woff2") format("woff2");
    font-weight: 100;
}
@font-face {
    font-family: "SUIT";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraLight.woff2") format("woff2");
    font-weight: 200;
}
@font-face {
    font-family: "SUIT";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2") format("woff2");
    font-weight: 300;
}
@font-face {
    font-family: "SUIT";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "SUIT";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2") format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "SUIT";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2") format("woff2");
    font-weight: 600;
}
@font-face {
    font-family: "SUIT";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2") format("woff2");
    font-weight: 700;
}
@font-face {
    font-family: "SUIT";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2") format("woff2");
    font-weight: 800;
}
@font-face {
    font-family: "SUIT";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Heavy.woff2") format("woff2");
    font-weight: 900;
}
html {
    font-size: 62.5;
    background-color: var(--main-bg-color);
}
body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    font-family: "SUIT";
    font-weight: 400;
    color: rgb(230, 230, 230);
}
button {
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
    font-size: inherit;
    font-family: inherit;
}
a {
    color: inherit;
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: inherit;
}
input {
    font-family: inherit;
    font-size: inherit;
}
.htmlTopMargin {
    height: 50px;
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/* .blurText {
    position: fixed;
    -webkit-mask: linear-gradient(#000 0 0) text;
    mask: linear-gradient(#000 0 0) text;
    backdrop-filter: blur(10px);
    height: 45px;
    width: 100%;
} */

:root {
    --main-bg-color: rgb(12, 12, 12);
}
