.gridContainer {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(
        6,
        1fr
    ); /* 3개의 열이 각각 동일한 크기를 갖도록 설정 */
    grid-gap: 10px; /* 그리드 아이템 사이의 간격 */
}

.gridItem {
    background-color: rgb(104, 104, 104);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
.test {
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    transition: height 1s, width 3s ease;
}

.test:hover {
    height: 100px;
    width: 100px;
}
